.apexUserBg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 500px;
}

.apexUserInfo {
    margin: 30px;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 5px 5px;
    opacity: 0.7;
    margin: 5%;
}

.apexUserInfo p {
    margin-left: 10%;
    margin: 5%;
    font-size: 28px;
    font-family: SlopeOpera;
    font-weight: bold;
    color :black
}